test-encrypt.txt filter=git-crypt diff=git-crypt
jenkins/users.xml* filter=git-crypt diff=git-crypt
jenkins/jenkins.yaml* filter=git-crypt diff=git-crypt
jenkins/eman2_9006950017624574913/config.xml* filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
